* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", sans-serif;
    background: #f2eee7;
    color: #7e706b;
    padding: 40px;
}

main {
    max-width: 1200px;
    margin: auto;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: lowercase;
}

h2 {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 10px 0;
}

h3 {
    font-size: 1.6rem;
    font-weight: 400;
}

/* 3-column row */
#layout {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    column-gap: 40px;
}

/* left */
.coffee-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -150px;
}


.latte-hover {
    display: inline-block;
    transition: transform 0.3s ease;
    transform-origin: bottom center;
}

.latte-hover:hover {
    transform: translateY(-10px) rotate(-5deg) scale(1.05);
}

.latte-float {
    animation: fadeUp 1s ease forwards, float 4s ease-in-out infinite;
    animation-delay: 0s, 1s;
}

.latte {
    width: 400px;
    display: block;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0);
    }
}

/* middle */
.dropdown-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

#timeSelect {
    padding: 14px 35px 14px 25px;
    font-size: 1.4rem;

    background-color: #f5eee9;
    color: #7e706b;

    border: 2px solid #7e706b;
    border-radius: 30px;

    appearance: none;

    background-image: linear-gradient(45deg, transparent 50%, #7e706b 50%),
                      linear-gradient(135deg, #7e706b 50%, transparent 50%);
    background-position: right 18px center, right 12px center;
    background-size: 6px 6px;
    background-repeat: no-repeat;

    box-shadow: 3px 3px 0 #e3d8d2;
    transition: all 0.2s ease;
}

#timeSelect:hover {
    background-color:#c4741e;
    color: #fdf7ee;
    background-image: linear-gradient(45deg, transparent 50%, #fdf7ee 50%),
                linear-gradient(135deg, #fdf7ee 50%, transparent 50%);

    box-shadow: 6px 6px 0 #e3d8d2;
    transform: translate(-2px, -2px);
}

/* right */
.info-area {
    position: relative;
    padding: 100px 160px; /* gives space so napkin shows */

    background-image: url("images/napkin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.info-area h4 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.info-area p {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

/* mobile */
@media (max-width: 900px) {
    body {
        padding: 20px;
    }

    #layout {
        grid-template-columns: 1fr;
        row-gap: 30px;
        text-align: center;
    }

    .coffee-area,
    .dropdown-area,
    .info-area {
        justify-content: center;
        justify-self: center;
    }

    .info-area {
        text-align: center;
    }

    .latte {
        width: 300px;
    }
}