* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", sans-serif;
    background: #f2eee7;
    padding: 40px;
}

main {
    max-width: 1200px;
    margin: auto;
}

header {
    text-align: start;
    margin-bottom: 50px;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: lowercase;
    font-family: "Playfair Display", serif;
    color: #5f534f;
}

h2 {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0px;
    font-family: "Cantarell", sans-serif;
    color: #7e706b;
}

h3 {
    font-size: 2.2rem;
    font-weight: 500;
    font-family: "Silkscreen", sans-serif;
    color: #72552f;
    margin-top: 35px;
}


/* three column row */
#layout {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
}

/* left */
.coffee-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.latte-hover {
    display: inline-block;
    transition: transform 0.3s ease;
    transform-origin: bottom center;
}

.latte-hover:hover {
    transform: translateY(-10px) rotate(-5deg) scale(1.05);
}

.latte-float {
    animation: fadeUp 1s ease forwards, float 4s ease-in-out infinite;
    animation-delay: 0s, 1s;
}

.latte {
    width: 500px;
    display: block;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0);
    }
}

/* middle */
.dropdown-area {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-200px);
}

#timeSelect {
    font-family: "Silkscreen", sans-serif;
    padding: 10px 40px 10px 30px;
    font-size: 1.5rem;
    background-color: #c4741e;
    color: #fdf7ee;
    border: 4px solid #efcf9e;
    border-radius: 50px;
    appearance: none;

    background-image: linear-gradient(45deg, transparent 50%, #fdf7ee 50%),
        linear-gradient(135deg, #fdf7ee 50%, transparent 50%);

    background-position: right 18px center, right 12px center;
    background-size: 6px 6px;
    background-repeat: no-repeat;

    box-shadow: 3px 3px 0 #e3d8d2;
    transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;

}

#timeSelect:hover {
    background-color: #eae9e9;
    color: rgb(91, 69, 59);
    border: 4px solid #7e706b;

    background-image: linear-gradient(45deg, transparent 50%, #7e706b 50%),
        linear-gradient(135deg, #7e706b 50%, transparent 50%);

    box-shadow: 6px 6px 0 #e3d8d2;
    transform: translateY(-2px);
}

/* right */
.napkin-hover {
    display: inline-block;
    transition: transform 0.3s ease;
    transform-origin: bottom center;
}

.napkin-hover:hover {
    transform: translateY(-10px) rotate(5deg) scale(1.05);
}

.napkin-float {
    animation: fadeUp 1s ease forwards, float 4s ease-in-out infinite;
    animation-delay: 0s, 1s;
}

.info-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 520px;
    min-height: 420px;

    background-image: url("images/napkin.png");
    background-repeat: no-repeat;
    background-size: 500px auto;
    background-position: center;

    padding: 110px 80px;
}

.info-area h4,
.info-area p {
    margin-left: 20px;
    color: #634929;

}

.info-area h4 {
    font-size: 2.2rem;
    font-weight: lighter;
    margin-bottom: 15px;
    font-family: "Fuzzy Bubbles", sans-serif;
}

.info-area p {
    font-size: 1.6rem;
    margin-bottom: 16px; /* increase this */
    line-height: 1.5;    /* adds space inside each line */
    font-family: "Fuzzy Bubbles", sans-serif;
}
/* mobile */
@media (max-width: 900px) {
    body {
        padding: 20px;
    }

    #layout {
        grid-template-columns: 1fr;
        row-gap: 30px;
        text-align: center;
    }

    .coffee-area,
    .dropdown-area,
    .info-area {
        justify-content: center;
        justify-self: center;
    }

    .info-area {
        text-align: center;
    }

    .latte {
        width: 300px;
    }
}


.float-letter {
    display: inline-block;
    transition: transform 0.45s ease, text-shadow 0.45s ease;
}

.float-letter:hover {
    transform: translateY(-6px) scale(1.03);
    text-shadow: 0 4px 12px rgba(255, 255, 255, 0.35);
}